[submodule "modules/emacs.d"]
	path = modules/emacs.d
	url = https://github.com/phye/emacs.d.git
[submodule "modules/on-my-zsh"]
	path = modules/on-my-zsh
	url = https://github.com/phye/oh-my-zsh.git
[submodule "modules/tpm"]
	path = modules/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "modules/vim.d"]
	path = modules/vim.d
	url = https://github.com/phye/vim.d.git
