[submodule "modules/emacs.d"]
	path = modules/emacs.d
	url = https://github.com/phye/emacs.d.git
[submodule "modules/on-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/phye/oh-my-zsh.git
[submodule "modules/tpm"]
	path = modules/tpm
	url = https://github.com/RyanMacG/tpm-redux.git
[submodule "modules/vim.d"]
	path = modules/vim.d
	url = https://github.com/phye/vim.d.git
[submodule "modules/gitignore"]
	path = modules/gitignore
	url = https://github.com/github/gitignore.git
[submodule "modules/rime.conf"]
	path = modules/rime.conf
	url = https://github.com/phye/rime.conf.git
[submodule "modules/i3"]
	path = modules/i3
	url = https://github.com/phye/i3-config.git
[submodule "modules/fzf"]
	path = modules/fzf
	url = https://github.com/junegunn/fzf.git
